@media (max-width:990px){
    .container{
        display: grid;
        grid-template-areas: 
            
            "sec3 sec3"
            "sec1 sec2"
            "sec4 sec8"
            "sec5 sec6"
            "sec10 sec7"
            "sec9 sec7"
            "sec11 sec11"
            "sec12 sec12 "
            
            }
            .sec9-cont img{
                position: relative;
                right: 10%;
            }
            .sec9-cont h2{
                padding-block: 30%;
            }


            .sec10 .sec10-img{
                position: relative;
                top:18%;
                background-color: #35CFED;
                padding-block: 50px;
                padding-inline: 30px;
                border-radius: 50%;
            }
            .sec11 .sec11-cont{
                position: relative;
                left: 30%;
                padding-block: 40px;
            }

            
    }
    @media (max-width:768px){
        .container{
            display: grid;
            grid-template-areas: 
                
                "sec3 "
                "sec1"
                "sec2 "
                "sec4 "
                "sec8 "
                "sec5 "
                "sec6 "
                "sec10 "
                "sec7 "
                "sec9 "
                "sec11 "
                "sec12  "
                
                }
                .titles{
                    font-size: 30px;
                    font-family: "Open Sans", sans-serif;
                    color: var(--color);
                    font-weight: 600;
                    letter-spacing: 2px;
                
                }
                .sec1 {
                    padding-block: 50px;
                }
                .sec1 .sec1-cont h3{
                    font-size: 60px 
                }
                .sec1 .sec1-cont p{
                    font-size: 23px;
                }
                /* ==============sec2=============== */
                .sec2{
                    text-align: center;
                }
                .sec2 img{
                    width:600px
                }

                .sec3{
                    padding-block: 70px;
                }
                /* ================sec4=============== */
                .sec4 .sec4-cont h3{
                    font-size: 33px;
                    font-weight: 700;
                }
                .sec4 .sec4-cont a{
                    font-size: 23px;
                }
                /* =================sec6================= */
                .sec6 span{
                    padding: 60px;
                    padding-left:20%;
                    font-size: 24px;
                }
                .sec6 p{
                    font-size: 33px;
                }
                /* ==================sec7=============== */
                .sec7 h2{
                    font-size: 50px;
                }
                .sec7 p{
                    font-size: 30px;
                }
                .sec7 .sec7-cont .btn1{
                    font-size: 23px;
                    height: 90px;
                    width: 100px;
                }
                .sec7-img img{
                    width:400px;
                }
                .sec7 .btn2{
                        position: relative;
                        left: 15%;
                        font-size: 23px;
                        width: 200px;
                        height: 90px;
                }
                .sec7 h6{
                    font-size: 23px;
                }

                
                .sec8 .sec8-cont img{
                    padding-right: 20px;
                    width: 600px;
                } 
                .sec8 .sec8-cont h2{
                    font-size: 40px;
                }
                .sec8 .sec8-cont a{
                    font-size: 23px;
                }
                .sec9-cont{
                    position: relative;
                    top:0%;
                }
                .sec9 button{
                    border-radius: 10px;
                    height:50px;
                    width: 190px;
                    font-size:23px;
                }
                .sec9-cont h2{
                    font-size: 50px;
                }
                .sec10 .sec10-img{
                    
                    padding: 90px;
                    border-radius: 50%;
                    margin: 0;
                    position: relative;
                    top:0;
                }
                .sec10 img{
                    width: 90px;
                }
                .sec10 h2{
                    font-size: 33px;
                }
                .sec11{
                    padding-block: 40px;
                }
                .sec11 .sec11-cont h2 {
                    font-size: 35px;
                    
                }
                .sec11 button{
                    background-color:#7BC424 ;
                    width:140px;
                    height: 30px;
                    font-size: 17px;
                    border-radius: 30px;
                }
                .sec12{
                    font-size: 25px;
                }
            }